h1{
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 35, 35);
    width: 30%;
}
body{
    background-color: #b06e6d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
}
form{
    width: 500px;
    margin:130px auto;
    padding: 20px;
    background-color: #59c015;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: x-large;
}
input[type='text']{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    box-shadow: rgb(255, 0, 0);
}
input[type='text']:focus{
    border-color: #1b74b8;
    box-shadow: 0 0 5px #1b74b8;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
input[type='text']:hover{
    border-color: #1b74b8;
    box-shadow: 0 0 5px #1b74b8;
    background-color: rgb(46, 49, 49);
}
input[type='submit']{
    width: 20%;
    padding: 5px;
    border: 2px solid #1b74b8;
    border-radius: 5px;
    text-align: center;
    background-color: #381111;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
    box-shadow: rgb(255, 0, 0);
}